<div class="header">
    <div class="logo">
        <a href="/home/index"></a>
    </div>
    <div class="headerinner">
        <ul class="headmenu">
            <%-partial('userinfo') -%> 
        </ul>
    </div>
</div>
